#textdomain wesnoth-Era_of_Strife
[multiplayer_side]
    id=triththa
    name= _"Triththa"
    image=dwarves/ballista.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    type=EoS Dwarvish Runesmith
    leader=Dwarvish Steelclad,EoS Dwarvish Runefighter,EoS Dwarvish Compounder,EoS Dwarvish Runesmith,EoS Dwarvish Armorer,EoS Dwarvish Charger,EoS Dwarvish Guard
    random_leader=Dwarvish Steelclad,EoS Dwarvish Runefighter,EoS Dwarvish Compounder,EoS Dwarvish Runesmith,EoS Dwarvish Armorer
    recruit=EoS Dwarvish Fighter,EoS Dwarvish Crossbowman,EoS Dwarvish Smith,EoS Dwarvish Ballista,EoS Dwarvish Rusher,EoS Dwarvish Shieldman,EoS Young Cuttle Fish,EoS Dwarvish Plainsrider
    terrain_liked=Hh, Ha, Mm
    [ai]
        recruitment_pattern=fighter,fighter,archer,scout,fighter
    [/ai]
[/multiplayer_side]
